<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Register Page</title>
  {{ style('style') }}
</head>
<body>
  <form method="POST" action="{{ route('UserController.store') }}">
      {{ csrfField() }}
      <input type="email" name="email" />
      <input type="text" name="username" />
      <input type="password" name="password" />
      <button>
          Register
      </button>
      <hr>
  </form>
</body>
</html>

